<a href="https://colab.research.google.com/github/animalran/csvfiles/blob/master/Maxpain2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
url= input("url: ")

url: https://www1.nseindia.com/live_market/dynaContent/live_watch/get_quote/GetQuote.jsp?symbol=TATACONSUM

In [ ]:
r = requests.get(url).content
df_list = pd.read_html(r)
df = df_list[1]
data = df.iloc[:,:]
print(data)
sp = df.loc[:,"Unnamed: 11_level_0"] # strike prices

  
def spn(n):
  spn = int(sp.loc[n:n,"Strike Price"])
  return spn
sp1= spn(1)
sp2= spn(2)
sp3= spn(3)
sp4= spn(4)
sp5= spn(5)
sp6= spn(6)
sp7= spn(7)
sp8= spn(8)
sp9= spn(9)
sp10= spn(10)
sp11= spn(11)
sp12= spn(12)
sp13= spn(13)
sp14= spn(14)
SP= [sp1,sp2,sp3,sp4,sp5,sp6,sp7,sp8,sp9,sp10,sp11,sp12,sp13,sp14]

In [ ]:
CALLS = df.loc[:,"CALLS"]
CALLS = CALLS.replace('-',np.nan) # replace '-' with nan
CALLS = CALLS.fillna(0) # replace nan with 0
def cn(n):
  cn = int(CALLS.loc[n:n,'OI'])
  return cn
c1= cn(1)
c2= cn(2)
c3= cn(3)
c4= cn(4)
c5= cn(5)
c6= cn(6)
c7= cn(7)
c8= cn(8)
c9= cn(9)
c10= cn(10)
c11= cn(11)
c12= cn(12)
c13= cn(13)
c14= cn(14)
C=[c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11,c12,c13,c14]

In [ ]:
PUTS = df.loc[:,"PUTS"]
PUTS = PUTS.replace('-',np.nan) # replace '-' with nan
PUTS = PUTS.fillna(0) # replace nan with 0
def pn(n):
  pn = int(PUTS.loc[n:n,'OI'])
  return pn
p1= pn(1)
p2= pn(2)
p3= pn(3)
p4= pn(4)
p5= pn(5)
p6= pn(6)
p7= pn(7)
p8= pn(8)
p9= pn(9)
p10= pn(10)
p11= pn(11)
p12= pn(12)
p13= pn(13)
p14= pn(14)

In [ ]:
def cl(n):
    def clm(m):
        clm=((SP[n]-SP[m])*C[m])
        return clm
    cl_list=[clm(0),clm(1),clm(2),clm(3),clm(4),clm(5),clm(6),clm(7),clm(8),clm(9),clm(10),clm(11),clm(12),clm(13)]
    cl=[x for x in cl_list if x>=0]
    cl=sum(cl)
    return cl
cl1= cl(0)
cl2= cl(1)
cl3= cl(2)
cl4= cl(3)
cl5= cl(4)
cl6= cl(5)
cl7= cl(6)
cl8= cl(7)
cl9= cl(8)
cl10= cl(9)
cl11= cl(sp10)
cl12= cl(sp11)
cl13= cl(sp12)

In [ ]:
def pln(spn):
  pln1= ((sp1-spn)*p1)
  pln2= ((sp2-spn)*p2)
  pln_list = [pln1,pln2]
  z= [x for x in pln_list if x>= 0]
  pln= sum(z)
  return pln
pl1= pln(sp1)
pl2= pln(sp2)
pl3= pln(sp3)
pl4= pln(sp4)
pl5= pln(sp5)
pl6= pln(sp6)
pl7= pln(sp7)
pl8= pln(sp8)
pl9= pln(sp9)
pl10= pln(sp10)
pl11= pln(sp11)
pl12= pln(sp12)
pl13= pln(sp13)
pl14= pln(sp14)

In [ ]:
tl1= cl1+pl1
tl2= cl2+pl2
tl3= cl3+pl3
tl4= cl4+pl4
tl5= cl5+pl5
tl6= cl6+pl6
tl7= cl7+pl7
tl8= cl8+pl8
tl9= cl9+pl9
tl10= cl10+pl10
tl11= cl11+pl11
tl12= cl12+pl12
tl13= cl13+pl13
tl14= cl14+pl14
TL= [tl1,tl2,tl3,tl4,tl5,tl6,tl7,tl8,tl9,tl10,tl11,tl12,tl13,tl14]
print(min(TL))

In [ ]:
M= pd.DataFrame({"SP":SP,"TL":TL})
plt.plot(SP,TL)
plt.rcParams["figure.figsize"] = [16,9]
tick_label= SP
plt.bar(SP,TL,tick_label=tick_label,width = 5,color = ['red', 'green'])
print(M)